.userProfile{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 12px 0;
    text-decoration: none;
    color: rgb(39, 39, 39);

}

.followedBtn{
    width: 150px;
    height: 30px;
    color: #fff;
    background-color: rgb(52, 81, 110);
    border: none;
}

.followedBtn:hover,
.followedBtn:active{
    color: rgb(52, 81, 110);
    background-color: #fff;
    border: 1px solid rgb(52, 81, 110);
}

.profileDescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.profilePhoto{
    width: 150px;
    display: block;
}



#pageNumberActive{
    font-weight: bold;
}

.pageNumbers{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.pageNumber {
    padding: 8px;
    color: rgb(52, 81, 110);
}




.preloader{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

